
.bottom-nav {
    background-color: linear-gradient(135deg, #FFA500, #FF6347);
    height: 200px;
    width: 100%;
}

.links  {
    color:white;
    text-align: left;
    padding-left: 250px;
    padding-top:25px;
    font-size: 20px;
}

.bottom-nav a {
    text-decoration: none;
    color: white; 
}

.bottom-nav :hover {
    color:black;
    transition: 0.5s;
}