.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .profileImage {
    border-radius: 50%;
    width: 100px;  /* Adjust width as necessary */
    height: 100px;  /* Adjust height as necessary */
    object-fit: cover;  /* This ensures that the image covers the circle without distortion */
}

/*STUDENT CSS*/
.search-bar {
    width: 40%;
    background-color: #ccc;
    border-radius: 20px; 
    height: 40px; 
}

.purple-panel-student {
  background: linear-gradient(135deg, #B674E6, #3B2667);
  width: 200px; 
  height: 100%; 
  position: fixed; 
  top: 0; 
  left: 100; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

  .panel-title-student {
    color: white;
    font-size: 20px; 
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-weight: 500;
    padding-top: 35px;
    padding-right: 80px;
    }

.classes-panel-student{
  color: white;
  font-size: 15px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  padding-top: 60px;
  padding-right: 120px;
}

.hours-panel-student{
  color: white;
  font-size: 15px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  padding-top: 10px;
  padding-right: 120px;
  }

.subject-panel-student{
  color: white;
  font-size: 15px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  padding-right: 80px;
}

.trophy-student {
  width: 50px;
  height: auto;
  position: relative; 
  top: -50px; 
  padding-left: 120px;
}
  
.cap-student {
  width: 45px;
  height: auto;
  position: relative; 
  top: -40px; 
  padding-left: 120px;
}
  
.medal-student {
  width: 45px;
  height: auto;
  position: relative; 
  top: -48px; 
  padding-left: 120px;
}

.dashboard-container-student{
  display: flex;
  justify-content: flex-end;
  align-items: right;
  flex-direction: column; 
  font-size: 20px;
  background: linear-gradient(135deg, #B674E6, #3B2667);
  border-radius: 50px;
  width: 1000px; 
  height: 430px; 
  margin: 0 120px 0 auto;
}  

.favorite-tutors {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  background: white; 
  border-radius: 50px;
  width: 250px;
  height: 380px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: -410px;
}

.upcoming-appts-student {
  background: white; 
  border-radius: 50px;
  width: 630px;
  height: 380px;
  margin-top: 20px;
  margin-left: 330px;
  margin-bottom: 30px;
}

.appt-title-student{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 700;
  font-size: medium;
  text-align: left; 
  margin-left: 40px;
  padding-top: 25px;
}

.favorite-tutor-title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 700;
  font-size: medium;
}

.cancel-button-student{
  background-color: black;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  margin-top: 30px;
  border-radius: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  font-size:medium;
}

.cancel-button-student:hover{
  color: black;
  background-color:rgb(186, 108, 223);
  transition:0.7s;
}

.delete-button-student{
  background-color: black;
  color: white; 
  border: none; 
  padding: 10px 10px; 
  cursor: pointer; 
  margin-top: 30px;
  border-radius: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  font-size:small;
}

.delete-button-student:hover{
  color: black;
  background-color:rgb(186, 108, 223);
  transition:0.7s;
}


