.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.7s ease-out;
}

.modal button {
  background-color: black;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.modal button:hover {
  color: white;
  background-color: #B674E6;
  transition:0.7s;
}

.modal .cancel-button:hover {
  background-color: rgb(201, 31, 31);
  transition:0.7s;
  color: white;
}

.modal input {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing:border-box;
  padding-left: 10px;
}

.modal p {
  color: #888;
  font-size: 0.9em;
  margin-top: 10px;
}

.profileImage {
  border-radius: 50%;
  width: 100px;  /* Adjust width as necessary */
  height: 100px;  /* Adjust height as necessary */
  object-fit: cover;  /* This ensures that the image covers the circle without distortion */
}

.purple-panel-tutor {
  background: linear-gradient(135deg, #B674E6, #3B2667);
  width: 13%;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0; 
  display: flexbox;
  flex-direction: column;
}


.panel-title-tutor {
  color: white;
  font-size: 20px; 
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 700;
  padding-top: 35px;
  position: fixed;
  padding-left: 10px;
  flex-direction: column;
}

.classes-panel-tutor{
  color: white;
  font-size: 15px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 700;
  padding-top: 110px;
  padding-right: 120px;  
  flex-direction: column;
}

.hours-panel-tutor{
  color: white;
  font-size: 15px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 700;
  padding-right: 120px;
  flex-direction: column;
  margin-top: -5px;
  padding-top: 5px;
  }

.trophy-tutor {
  width: 50px;
  height: auto;
  position: fixed; 
  top: 135px; 
  padding-left: 60px;
  flex-direction: column;
}
  
.cap-tutor {
  width: 45px;
  height: auto;
  position: fixed; 
  top: 300px; 
  padding-left: 30px;
  flex-direction: column;
}
  
.medal-tutor {
  width: 45px;
  height: auto;
  position: fixed; 
  top: 230px; 
  padding-left: 30px;
  flex-direction: column;
}

.tutor-logout {
padding-top: 350px
}

.tutor-logout-button {
border:none;
font-weight: 550;
padding: 15px;
border-radius: 10px;
cursor: pointer;
background-color: transparent;
color: white;
font-size:medium
}

.tutor-logout-button:hover {
color: black;
transition:0.7s;
}


.number-subjects-taught {
  font-size: 40px;
  font-weight: 250;
}


.upcoming-appointments {
  background-color: lightgray;
  height: 300px;
  width: 750px;
  border-radius: 50px;
  overflow: auto;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .upcoming-appointments,
  .tutor-notifications {
    margin-top: 0; /* Remove top margin for larger screens */
    margin-left: auto; /* Center the box horizontally on larger screens */
    margin-right: auto;
  
  }
}


.cancel-appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 90px;
  height: 30px;
  color: white;
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
  border:none;
}

.cancel-appointment:hover {
  color: white;
  background-color:#935EC2;;
  transition:0.7s;
}

.student {
  font-size: 30px;
  color: purple
}

.appts-container {
  padding-top: 80px;
  justify-content: right;
  display: flex;
  margin-left: 100px;
  padding-left: 80px;
  padding-bottom: 30px;
  align-content: right;
}

.profileImage {
    border-color: gray;
    border-radius: 50%;
    width: 240px;  /* Adjust width as necessary */
    height: 240px;  /* Adjust height as necessary */
    object-fit: cover;  /* This ensures that the image covers the circle without distortion */
}

.bold-words {
  font-weight: 500;
}

.profile-container {
  padding-top: 40px;
  text-align: center;
  float:right;
  margin-right: 40px;
  border-color: black;
  padding-left: 70px;
  border-left-color: lightgray;
  border-left-style: groove;
  padding-left: 30px;
  height: 100vh;
  line-height: 45px
}

.profile-text-container {
  text-align: left;
}

.appointment-name {
  font-size: 30px;
  color: #935EC2;
  padding-right: 10px
}

.appointment-name2 {
  font-size: 25px;
  color: #935EC2;
  padding-right: 10px
}

.appointment-date {
  padding-right:10px;
}

.appointment-date2 {
  font-size: 25px;
  padding-right:10px;
}

.appointment-time {
  padding-right: 50px;
}

.profile-name {
  font-size: 17px
}

.profile-status {
  font-size: 17px
}

.profile-subjects {
  font-size: 17px
}

.about-me {
  font-size: 17px
}

.available-hours {
  font-size: 17px
}

.notifs-details {
  display: flex;
  padding-left: 50px;
  align-items: center;
  
}

.tutor-notifications {
  background-color: lightgray;
  height: 300px;
  width: 750px;
  border-radius: 50px;
  padding-top:20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 auto;
}

.upappt {
  font-weight: 500;
  font-size: medium;
  display: flex;
  padding-left: 50px;
}

.appointment-details {
  display: flex;
  padding-left: 50px;
  align-items: center;
  
}

.appt-time-cancel {
  align-items: center;
  display: flex;
  justify-content: space-between;
  
}

.notif-container {
  justify-content: right;
  display: flex;
  padding-left: 80px;
  margin-left: 100px;
}

.notifs-label {
  font-weight: 500;
  font-size: medium;
  display: flex;
  padding-left: 50px;
}

.search-bar {
  display: flex;
  width: 700px;
  background-color: #ccc;
  border-radius: 20px; 
  height: 40px; 
  margin-top: 30px;
  border: none;
  margin-left: 360px;
}

@media (min-width: 768px) {
  .search-bar {
    margin-left: auto; 
    margin-right: auto;
  }
}

.search-bar-button{
background-color: transparent;
border: none; 
color: #B674E6; 
cursor: pointer; 
width: 50px; 
font-size: 20px;
margin-left: 350px;
display: flex-end;
position: absolute;
margin-top: -30px;
}


.search-bar-button:hover{
color: #3B2667;
transition:0.7s;
}

.purple-panel-student {
background: linear-gradient(135deg, #B674E6, #3B2667);
width: 200px; 
height: 100%; 
position: fixed; 
top: 0; 
left: 100; 
display: flex;
flex-direction: column;
}

.panel-title-student {
  color: white;
  font-size: 20px; 
  font-weight: 700;
  padding-right: 80px;
  margin-bottom: 200px;
  margin-top: 50px;
  }

.classes-panel-student{
color: white;
font-size: 15px; 
font-weight: 700;
padding-right: 120px;
margin-top: -5px;
}

.hours-panel-student{
color: white;
font-size: 15px; 
font-weight: 700;
padding-right: 120px;
margin-top: -5px;
}

.trophy-student {
width: 50px;
height: auto;
position: relative; 
top: -60px; 
padding-left: 120px;
}

.cap-student {
position: relative; 
padding-left: 10px;
}

.medal-student {
width: 45px;
height: auto;
position: relative; 
top: -55px; 
padding-left: 120px;
}

.appt-student{
width: 45px;
height: auto;
position: relative; 
margin-right: 120px;
margin-bottom: -15px;
}

.purple-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.dashboard-container-student{
display: flex;
justify-content: flex-end;
font-size: 20px;
background: linear-gradient(135deg, #B674E6, #3B2667);
border-radius: 50px;
width: 1000px; 
height: 430px; 
}  


.upcoming-appts-student-container {
background: white;
border-radius: 50px;
padding: 10px;
width: 630px; 
height: 360px; 
margin-left: auto; 
margin-right: 20px;
margin-bottom: 20px;
text-align: left;
overflow:auto;
margin-top: 19px;
}

.upcoming-appts-student {
border-radius: 50px;
display: flex;
}

.appt-title-student {
font-weight: 700;
text-align: left; 
margin-top: 5px;
margin-left: 20px;
color: rgb(186, 108, 223);
}

.tutor-appointment-name,
.tutor-appointment-date-time {
margin-left: 20px; 
text-align: left; 
}


.favorite-tutors {
background: white; 
border-radius: 50px;
width: 260px;
height: 380px;
margin-bottom: -380px;
margin-top: 20px;
margin-right: 40px;
overflow: auto;
}

.favorite-tutor-title{
font-weight: 700;
padding-top: 10px;
margin-bottom: 1px;  
color:rgb(186, 108, 223);
}

.cancel-button-student{
background-color: black;
color: white; 
border: none; 
cursor: pointer; 
border-radius: 15px;
font-weight: 500;
font-size:medium;
padding: 10px;
}

.cancel-button-student:hover{
color: black;
background-color:rgb(186, 108, 223);
transition:0.7s;
}

.delete-button-student{
background-color: black;
color: white; 
border: none; 
padding: 10px 10px; 
cursor: pointer; 
margin-top: 30px;
border-radius: 15px;
font-weight: 500;
font-size:small;
margin-left: 20px;
}

.delete-button-student:hover{
color: black;
background-color:rgb(186, 108, 223);
transition:0.7s;
}
.tutor-appointment-name{
font-size: 25px;
font-weight: bold;
margin-right: 10px;
}

.tutor-appointment-date-time{
font-size: 15px;
margin-right: 50px;

}
.search-results-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.search-results-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: #ccc;
  width: 1000px; 
  height: 300px; 
  overflow: auto; 
  margin-top: 35px;
  margin-bottom: 35px;
}

.star-fav{
width: 30px;
height: auto;
margin-bottom: -5px;
margin-left: 20px;
}

.favorite-button{
background-color: transparent;
border: none; 
cursor: pointer; 
}

.appt-schedule-button{
background-color: black;
color: white; 
border: none; 
padding: 10px 10px; 
cursor: pointer; 
border-radius: 15px;
font-weight: 500;
font-size:small;
margin-left: 20px;
}

.appt-schedule-button:hover{
background-color: rgb(186, 108, 223);
transition:0.7s;
}

.student-logout-button{
margin-top: 350px;
background-color:transparent;
color: white; 
border: none; 
cursor: pointer; 
font-weight: 550;
font-size:medium;
}

.student-logout-button:hover{
color: black;
transition:0.7s;
}

.checkbox-font{
  color: rgb(186, 108, 223);
  font-weight: 600;
  font-size: 16px;
}

.number-student-hours{
  font-size: 40px;
  font-weight: 250;
  color: white;
  margin-right: 130px;
}

.number-tutor-hours{
  font-size: 40px;
  font-weight: 250;
  color: white;
  margin-right: 130px;
  align-items: center;
  padding-top: 20px;
}

.number-student-classes{
  font-size: 40px;
  font-weight: 250;
  color: white;
  margin-right: 130px;
  align-items: center;
  margin-top: -170px;
}

.cap-student{
  width: 30px;
  height: auto;
  position: relative; 
  margin-top: 130px;
}

.welcome-back-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: #ccc;
  border-radius: 50px;
  width: 1000px; 
  height: 300px; 
  overflow: auto; 
  margin-bottom: 50px;
}

.welcome-back-text{
  color: #919191;
  margin-top: -50px;
}

.school-major-text{
  color: #6b6a6a;
  font-weight: 700px;
}