
.login-title {
  text-align: center;
  margin-top: 20px; 
  font-size: 40px; 
  color: white; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.proportion {
  width: 450px; 
  box-align: right;
  color: white;
}

.send-verification-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  font-size:medium;
  background-color: black;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 5px;
}

.verification-code-container {
  display: flex;
  align-items: center;
}

.verification-code {
  margin-right: 10px;
}

.verify-login-button {
  background-color: black;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  margin-top: 30px;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  font-size:medium;
}

.verify-login-button:hover {
  color: black;
  background-color:white;
  transition:0.7s; 
}

.send-verification-button:hover {
  color: black;
  background-color:white;
  transition:0.7s;
}

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 90vh; 
  border-radius: 20px;
  padding-bottom: 300px;
}

.login-form {
  text-align: left; 
  padding: 90px; 
  font-size: 20px;
  background: linear-gradient(135deg, #FFA500, #FF6347);
  border: 1px solid #FFA500;
  border-radius: 50px;
  width: 1200px;
  height: 60vh;
}

.login-form input[type="email"],
.login-form input[type="number"],
.login-form input[type="password"] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
  font-weight: 500;
  font-size:medium;
  color: white; 
  width: 100%; 
  height: 40px; 
}

.remember-me {
  margin-top: 30px;
  color: white;
}

.verification-code {
  width: 215px; 
}

.bottom-nav {
  background-color: hsl(34, 100%, 50%);
  height: 300px;
}

.links  {
  color:white;
  text-align: left;
  padding-left: 250px;
  padding-top:50px;
  font-size: 20px;
}

.bottom-nav a {
  text-decoration: none;
  color: white; 
}

.bottom-nav :hover {
  color:black;
  transition: 0.5s;
}