 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white; /* Change the background color when sticky */
    border-bottom: 1px solid #ccc; /* Retain the border when sticky */
  } 
  
    
  .navbar {
    display: flex; /* Use flexbox to control alignment */
    justify-content: space-between; /* Space items evenly, pushing the button to the right */
    align-items: center; /* Center items vertically within the navbar */
    background-color: white; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 500;
    padding: 15px; 
    transition: background-color 0.6s; /* Add transition for smooth color change */
  }

  .signup-container {
    align-items: center;
    display: flex;
  }

  .navbar ul {
    margin-left: 50px;
    list-style: none;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin-right: 40px;
  }
  
  .logo_landing {
    font-size: larger
  }

  .navbar a {
    text-decoration: none;
    color: black; 
  }

  .signup {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-weight: 500;
    font-size:medium;
    color: white;
    border:none;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
  }
  .signup:hover {
    color: black;
    background-color:rgb(186, 108, 223);;
    transition:0.7s;
  }
  
  
  .navbar a:hover {
    color:rgb(186, 108, 223);
    transition: 0.5s;
  }