.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: linear-gradient(to bottom, #F19E6F, #E9702C);
    margin-left: 30px; 
    margin-right: 30px; 
    margin-top: 40px;
    border-radius: 20px;
  }
  
  .registration-form {
    background-color: #FFFFFF;
    width: 350px; 
    height: 150px;
    padding: 50px 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .rsHeader {
    color: #EF915C;
    font-size: 24px;
    align-content: center;
    font-size: 35px;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .registration-button:hover {
    background-color: #333; 
  }
  
  .registration-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    margin: 0 10px;
    border-radius: 5px;
  }

  .or-text {
    color: #EF915C;
    font-size: 35px; 
    margin: 10px; 
  }
  
  .buttons-container a {
    text-decoration: none;
  }
