/* Registration.css */
.registration-container {
  border-radius: 50px;
  width: 1200px; /* Set the width of the box */
  height: 60vh; /* Set the height of the box */
  background: linear-gradient(135deg, #FFA500, #FF6347); /* Orange gradient colors */
  border: 1px solid #FFA500; /* Optional: Add a border with the same color as the starting gradient color */
  border-radius: 50px;
  font-size: 20px; /* Set the font size */
  position: fixed; /* Set the position to fixed */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  right: 50%;
  transform: translate(-50%, -50%); /* Center the box */
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .student-button,
  .instructor-button {
    flex: 1;
    margin: 50px; /* Adjust margin as needed */
    height: 60px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .student-button:hover,.instructor-button:hover {
    background-color: #585858;
  }

  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: block;
  }
  
  input[type="first name"],
  input[type="last name"],
  input[type="date"],
  input[type="school"],
  input[type="major"],
  input[type="email"],
  input[type="password"] {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-requirements {
    font-size: 12px;
    color: #000000;
  }
  
  .register-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #585858;
  }
  