.selection-page {
  display: flex;
  padding-top: 50px;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.registration-container {
  border-radius: 50px;
  width: 900px;
  height: 500px;
  background: linear-gradient(135deg, #B674E6, #3B2667);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.rsHeader {
  font-size: 40px;
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.registration-button:hover {
  color: black;
  background-color: white;
  transition: 0.7s;
}

.registration-button {
  background-color: black;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 33px;
  margin: 0 10px;
  border-radius: 15px;
}

.or-text {
  color: white;
  font-size: 35px;
  margin: 10px;
}
